rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /pre-registrations/{userId} {
      allow create: if request.auth != null
                    && request.auth.uid == userId
                    && request.resource.data.email is string
                    && request.resource.data.email.size() > 0
                    && request.resource.data.verified == true
                    && request.resource.data.uid == request.auth.uid;
      allow read, update, delete: if false;
    }
  }
}
